<!-- <h1>Hello, world!</h1> -->
<p>Welcome to the single-page application, built for calculating probalilities</p>

<div>
	<div class="input-group mb-3">
		<input class="form-control" placeholder="P(A)" type="text">
		<input class="form-control" placeholder="P(B)" type="text">
	</div>

	<div>
		<input type="radio"> CombinedWith
		<input type="radio" aria-label="Radio button for following text input"> Either

		<button type="button" class="btn btn-light">Calculate</button>

		<p>You probablity is : 324</p>
	</div>

</div>